body {
    margin: 0;
    font-family: Arial,sans-serif;
  }
  
  .absolute {
      position: absolute;
  }
  
  .obstacle {
      width: 75px;
      height: 25px;
      background: black;
      left: -90px;
  }
  
  #car {
      width: 25px;
      height: 50px;
      left: 95px;
      top: 370px;
      transform: rotate(0deg);
  }