#road {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 1000px;
    width: 200px;
    top: 50%;
    left: 50%;
    background-color: gray;
}
#car {
    position: absolute;
    bottom: 10px;
    right: 90px;
    width: 20px;
    height: 40px;
    background-color: blue;
}